.cards-section
    margin: 0
    grid-row: 4/5
    margin-left: 10px
    display: flex
    flex-direction: column-reverse
    gap: 30px
    align-items: center
    justify-content: center
    position: relative
    max-width: 100%

.card
    width: 339px
    min-height: 458px
    display: flex
    flex-direction: column
    border-radius: 20px
    transition: 0.2s
    position: relative
    text-align: center

.card-2,
.card-1
    box-shadow: 0px 10px 5px 10px rgba(0, 0, 0, 0.2)

.card-3
    box-shadow: 0px 10px 5px 3px rgba(0, 0, 0, 0.2)

.card-name
    font-weight: 700
    font-size: 1.8em

.card-content
    padding: 20px 40px
    

.p-card
    font-size: 1.2em
    font-weight: 400
    line-height: 189%

.for_large_screens
    display: none

.card_btn
    margin-top: 30px
    width: 235px
    height: 54px

.card:hover
    box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, 0.4)



