*
    box-sizing: border-box

html
    font-size: calc(16 / 375 * 100vw)

body
    padding: 0
    margin: 0

.container
    display: flex
    flex-direction: column
    gap: 6rem

.main
    display: flex
    flex-direction: column
    gap: 6rem

@media screen and (min-width: 700px)
    .container
        display: grid
        grid-template-rows: 5% 1fr 25%

    .header
        grid-row: 1/2

    .main
        grid-row: 2/3
        display: grid
        grid-template-rows: 1fr 1fr 1fr 1fr

    .footer
        grid-row: 3/4

    .first-section
        grid-row: 1/2

    .second-section
        grid-row: 2/3

    .third-section
        grid-row: 3/4

    .cards-section
        grid-row: 4/5
