.first-section
    display: flex
    flex-direction: column
    justify-content: center
    align-content: center

.first-section-image
    display: none

.aside
    display: none

.first-section__paragraph
    text-align: center
    font-family: var(--third-family)
    font-weight: 400
    font-size: 19px
    text-align: center
    color: var(--main---black)

.first-section__header
    text-align: center
    font-family: var(--font-family)
    font-weight: 700
    font-size: 54px
    text-align: center
    color: var(--main---black)
