.first-section
    display: flex
    flex-direction: column
    justify-content: center
    align-content: center

.first-section-image
    display: none

.aside
    display: none

.first-section__paragraph
    text-align: center
    // font-family: var(--third-family) - стиль шрифта уже указывается в fonts.sass
    // color: var(--main---black) - указывается в fonts.sass

.first-section__header
    text-align: center
    // font-family: var(--font-family)
    // color: var(--main---black)
