.footer
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column

    &__map
        width: 21.0625rem
        height: 18.75rem

    &__copy
        text-align: center

.address
    &__section
        text-align: center
        font-style: normal

@media screen and (max-width: 699px)
    .ui-font-large-screens
        display: none

@media screen and (min-width: 700px)
    .footer
        display: grid
        grid-template-columns: 1fr 1fr
        gap: 10%
        margin-left: 5%

        &__map
            width: 45.475rem
            height: 25.9375rem

        &__copy
            grid-column: 1/3

    .address
        &__section
            text-align: left
            font-style: normal
        
        &__btn
            display: none
    
   


    