.header
    position: relative

.menu-desktop
    padding: 0
    margin: 0
    list-style: none

    &__link
        text-decoration: none
        color: #3E3E3E
        box-sizing: border-box

        &:hover
            color: #512BE7

    &__item
        display: inline-block
        margin-right: 25px

.nav-container
    display: flex
    align-items: center
    justify-content: space-around

.logo
    height: 38px
    width: 236px

.btn-nav
    display: inline-block
    // border: 1px solid
    // width: 135px
    // height: 43px
    // background-color: #2D635E
    // border-radius: 5px
    text-align: center
    // font-size: 0.9em
    // color: #ffffff
    // line-height: 45px
    width: 8.4375rem

.cofe-menu, .bar-button
    display: none

@media screen and (min-width: 769px)
    .cofe-menu, .bar-button
        display: block
