

.header
    position: relative


.menu-desktop__link 
    text-decoration: none
    color: #3E3E3E
    box-sizing: border-box


.menu-desktop__link:hover 
    color: #512BE7




.nav-container 
    display: flex
    align-items: center
    justify-content: space-around



.logo 
    height: 38px
    width: 236px
    


.menu-desktop 
    padding: 0
    margin: 0
    list-style: none


.menu-desktop_item 
    display: inline-block
    margin-right: 25px


.btn-nav 
    display: inline-block
    border: 1px solid
    width: 135px
    height: 43px
    background-color: #2D635E
    border-radius: 5px
    text-align: center
    font-size: 0.9em
    color: #ffffff
    line-height:45px

.cofe_menu, .bar_button 
    display: none

@media screen and (min-width: 769px)
    .cofe_menu, .bar_button 
        display: block
    


