*
  box-sizing: border-box

body
  padding: 0
  margin: 0

.container
  display: grid
  grid-template-rows: 1.5% 1fr 1%

.header
  grid-row: 1/2

.main
  grid-row: 2/3
  display: grid
  grid-template-rows: 0.5fr 1fr 1fr 2fr 1fr

.footer
  grid-row: 3/4

.first-section
  grid-row: 1/2

.second-section
  grid-row: 2/3

.third-section
  grid-row: 3/4
  display: flex
  flex-direction: column-reverse
  justify-items: center
  text-align: left
  max-width: 100%
  a
    display: none
  button
    display: none
  h2
    order: -1
    font-size: 3rem
    margin: 3rem 2rem
  p
    order: -2
    font-size: 1.5rem
    line-height: 4rem
    padding: 0 2rem
.third-section__image-container
  max-width: 100%
  height: 50vh
  position: relative
  display: flex
  justify-content: center
  align-items: center
  margin-bottom: 10rem
.third-section__cup-background
  width: 100%
.third-section__cup
  width: 60%
  position: absolute
  left: 10%

.cards-section
  grid-row: 4/5

.map-section
  grid-row: 5/6
