/* отображается не совсем так же */
@font-face
  font-family: "JosefinSans-SemiBold"
  src: url("assets/fonts/JosefinSans-SemiBold") format("truetype")

/* шрифт отображается не корректно */
  &
    font-family: "CedarvilleCursive-Regular"
    src: url("assets/fonts/CedarvilleCursive-Regular") format("truetype")

  &
    font-family: "AlegreyaSans-Regular"
    src: url("assets/fonts/AlegreyaSans-Regular") format("truetype")

/* шрифт не применяется */
  &
    font-family: "JosefinSans-Regular"
    src: url("assets/fonts/JosefinSans-Regular") format("truetype")

// h1 - coffee shop, coffee shop samwayle, coffee of the day, our adress
// h2 - americano, latte, espresso
h1,
h2
  font-family: "JosefinSans-SemiBold", Verdana, Geneva, Tahoma, sans-serif

// h2
//   font-size: 28px

/* шрифт отображается не корректно */
.first-section p,
.second-section a
  text-decoration: none
  font-family: "CedarvilleCursive-Regular", Verdana, Geneva, Tahoma, sans-serif
  color: black

p
  font-family: "AlegreyaSans-Regular", Verdana, Geneva, Tahoma, sans-serif

/* шрифт не применяется */
.footer__copy
  font-family: "JosefinSans-Regular" Verdana, Geneva, Tahoma, sans-serif
