// 1 ШРИФТ

// /* шрифт отображается не совсем так же */
// @font-face
//   font-family: "JosefinSans-SemiBold"
//   src: url("assets/fonts/JosefinSans-SemiBold.ttf") format("truetype")

// отображается не так, как надо - подключение через ссылку на fonts.google.com
@font-face
  font-family: "JosefinSans", sans-serif
  font-optical-sizing: auto
  font-weight: 700
  font-style: normal

// 2 ШРИФТ

/* т.о. шрифт отображается не корректно, вообще не так, как на макете */
// @font-face
//   font-family: "CedarvilleCursive-Regular"
//   src: url("assets/fonts/CedarvilleCursive-Regular.ttf") format("truetype")

// работает - через подключение через ссылку на fonts.google.com
@font-face
  font-family: "Cedarville Cursive", cursive
  font-weight: 400
  font-style: normal

// 3 ШРИФТ

// @font-face
//   font-family: "AlegreyaSans-Regular"
//   src: url("assets/fonts/AlegreyaSans-Regular.ttf") format("truetype")

// работает - через подключение через ссылку на fonts.google.com
@font-face
  font-family: "Alegreya Sans", sans-serif
  font-weight: 400
  font-style: normal

// 4 ШРИФТ

/* шрифт применяется не корректно */
// @font-face
//   font-family: "JosefinSans-Regular"
//   src: url("assets/fonts/JosefinSans-Regular.ttf") format("truetype")

// СТИЛИ

h1,
h2,
.menu__item,
.menu-desktop__link,
.ui-font_follow,
.card__name
  // font-family: "JosefinSans-SemiBold", Verdana, Geneva, Tahoma, sans-serif
  font-family: "JosefinSans", sans-serif
  color: rgba(0, 0, 0, 1)

h1
  font-size: 3.375rem

@media screen and (min-width: 700px)
  h1
    font-size: 3.9375rem

.menu__item
  font-size: 2.25rem
  line-height: 2.25rem

.menu-desktop__link
  font-size: 1rem

.first-section-text__paragraph
  // font-family: "CedarvilleCursive-Regular", Verdana, Geneva, Tahoma, sans-serif
  font-family: "Cedarville Cursive"
  color: rgba(68, 74, 74, 1)
  font-size: 1.1875rem

@media screen and (min-width: 700px)
  .first-section-text__paragraph
    font-size: 1.75rem

.ui-font_follow
  font-size: 1.75rem

.text-second-section-h2,
.text-third-section-h2
  font-size: 2.375rem

.card__name
  // font-family: "JosefinSans-SemiBold", Verdana, Geneva, Tahoma, sans-serif
  // font-family: "JosefinSans", sans-serif
  font-size: 1.75rem
  // font-weight: 900

.ui-font_p
  // font-family: "AlegreyaSans-Regular", Verdana, Geneva, Tahoma, sans-serif
  font-family: "Alegreya Sans", sans-serif
  font-size: 1.1875rem
  font-weight: 400
  line-height: 189%
  // line-height: 2.25rem
  letter-spacing: 0em
  color: #444A4A

.ui-font_link-in-sections
  text-decoration: none
  color: black
  // font-family: "CedarvilleCursive-Regular", Verdana, Geneva, Tahoma, sans-serif
  font-family: "Cedarville Cursive"
  font-size: 1.75rem

.ui-font_address
  font-size: 2rem

.footer__copy
  // font-family: "JosefinSans-Regular", Verdana, Geneva, Tahoma, sans-serif
  // font-family: "JosefinSans-SemiBold", Verdana, Geneva, Tahoma, sans-serif
  font-family: "JosefinSans", sans-serif
  font-size: 1.125rem
  line-height: 2.8125rem
  font-weight: 100

@media screen and (min-width: 700px)
  .footer__copy
    font-size: 1.1875rem
