.second-section-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
}

.images-second-section {
    display: flex;
    flex-direction: column;
    position: relative;
}

.images-second-section img {
    width: 380px;
    height: 248px;
    margin: 5px;
}

.images-second-section img:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
}


.text-second-section {
    margin-top: 20px;
    /*text-align: center;*/
}

.text-second-section-h2 {
    font-size: 3rem;
}

p {
    font-size: 1.5rem;
    line-height: 4rem;
    padding: 0 2rem;
}

